* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}

.hero .left {
    width: 50%;
    height: 508px;
    gap: 0px;
    border-radius: 8px 8px 80px 8px;
}

.hero .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    height: 496px;
}

.hero .right h3 {
    font-family: Rufina;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 1px;
    text-align: left;
    color: #181D24;
}

.hero .right p {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #181D24;
}

.hero .right p span {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #181D24;
}

.about {
    width: 80%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    height: 1787px;
}

.about .left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.about .left h3 {
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    color: #181D24;
}

.about .left p {
    width: 90%;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    color: #181D24;
}

.about .left span {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #181D24;
}

.about .left a {
    font-size: 26px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    background-color: #DFE3E7;
    padding: 26px 16px 26px 16px;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    align-self: flex-end;
    margin-top: 60px;
    margin-right: 30px;
}

.about .right {
    width: 50%;
    height: 100%;
}

.about .right .img1 {
    position: absolute;
    width: 392px;
    height: 65%;
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
    left: 610px;
    gap: 0;
    border-radius: 6px 6px 6px 60px;
    border: 10px solid #F5E9D6;
}

.about .right .img2 {
    position: relative;
    top: 120px;
    gap: 0;
    border-radius: 6px 60px 6px 6px;
    border: 1px solid;
    height: 70%;
    width: 70%;
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    margin-top: 30px;
}

.cta-cont {
    width: 100%;
    background-image: url("./images/cta.png");
    height: auto;
    object-fit: contain;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cta {
    position: absolute;
    bottom: -100px;
    background: transparent;
    width: 80%;
    display: flex;
    gap: 1em;
}

.cta .left {
    background-color: #181D24;
    border-radius: 8px 80px 8px 8px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
    width: 40%;
}

.cta .left h4 {
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 1px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
}

.cta .fon {
    display: flex;
    gap: 2em;
}

.cta .mail {
    display: flex;
    gap: 2.3em;
}

.cta .ad {
    display: flex;
    gap: 1em;
}

.cta .socials {
    display: flex;
    gap: 1em;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 50px;
}

.cta .left p {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: left;
    color: #FFFFFF;
}

.cta .right {
    background-color: #FFFFFF;
    border-radius: 8px 8px 80px 8px;
    padding: 40px;
    width: 60%;
}

.cta .right h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 1px;
    text-align: center;
    color: #181D24;
}

.cta form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 50px;
}

.from {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}

.cta form .diff {
    border: none;
    color: #5B656F;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    width: 50%;
    border-bottom: 1px solid #181D24;
    padding-left: 0;
    padding-bottom: 10px;
}

form label {
    display: flex;
}

textarea {
    border: none;
    color: #181D24;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #181D24;
    padding: 0 0 10px 0;
    height: 100px;
}

textarea:focus {
    outline: none;
}

.cta form textarea::placeholder {
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.tem {
    display: flex;
    justify-content: flex-start;
    gap: 0.5em;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.terms {
    border: none;
    color: #5B656F;
    font-weight: 500;
    border-bottom: 1px solid #181D24;
    padding-left: 0;
    padding-bottom: 0;
}

.cta form button {
    text-transform: uppercase;
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: #5B656F;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    border-radius: 0 10px 10px 10px;
    padding: 12px 40px;
    width: 137px;
    height: 48px;
    border: none;
    text-align: center;
    margin-top: 20px;
}


@media (max-width: 420px) {
body {
    overflow-x: hidden;
    width: 100%;
}

    header {
        display: flex;
        flex-direction: column;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3em;
        width: 90%;
    }

    .hero .left {
        width: 100%;
        height: 50%;
    }

    .hero .right {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .hero .right h3 {
        font-family: Rufina;
        font-size: 44px;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: 1px;
        text-align: center;
    }

    .hero .right p {
        font-family: Raleway;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        width: 100%;
    }

    .hero .right p span {
        font-family: Raleway;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
    }

    .about  {
        width: 90%;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about .left {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    
    .about .left h3 {
        font-size: 60px;
        font-weight: 700;
        line-height: 72px;
        text-align: left;
        color: #181D24;
    }
    
    .about .left p {
        width: 90%;
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
        text-align: left;
        color: #181D24;
    }
    
    .about .left span {
        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
        text-align: left;
        color: #181D24;
    }
    
    .about .left a {
        font-size: 26px;
        font-weight: 400;
        line-height: 12px;
        text-align: center;
        background-color: #DFE3E7;
        padding: 26px 16px 26px 16px;
        border-radius: 4px;
        text-decoration: none;
        display: flex;
        align-self: flex-end;
        margin-top: 60px;
        margin-right: 30px;
    }
    
    .about .right {
        width: 50%;
        height: 100%;
    }
    
    .about .right .img1 {
        position: absolute;
        width: 392px;
        height: 65%;
        display: flex;
        justify-self: flex-start;
        align-self: flex-start;
        left: 610px;
        gap: 0;
        border-radius: 6px 6px 6px 60px;
        border: 10px solid #F5E9D6;
    }
    
    .about .right .img2 {
        position: relative;
        top: 120px;
        gap: 0;
        border-radius: 6px 60px 6px 6px;
        border: 1px solid;
        height: 70%;
        width: 70%;
        display: flex;
        align-self: flex-end;
        justify-self: flex-end;
        margin-top: 30px;
    }

    .cta-cont {
        width: 100%;
        background-image: url("./images/cta.png");
        height: auto;
        object-fit: contain;
        background-position: center;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .cta {
        position: absolute;
        bottom: -100px;
        background: transparent;
        width: 80%;
        display: flex;
        gap: 1em;
    }
    
    .cta .left {
        background-color: #181D24;
        border-radius: 8px 80px 8px 8px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2em;
        width: 40%;
    }
    
    .cta .left h4 {
        font-size: 52px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: 1px;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        justify-content: flex-start;
    }
    
    .cta .fon {
        display: flex;
        gap: 2em;
    }
    
    .cta .mail {
        display: flex;
        gap: 2.3em;
    }
    
    .cta .ad {
        display: flex;
        gap: 1em;
    }
    
    .cta .socials {
        display: flex;
        gap: 1em;
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: 50px;
    }

    .cta .socials {
        display: flex;
        gap: 1em;
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: 50px;
    }
    
    .cta .left p {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 1px;
        text-align: left;
        color: #FFFFFF;
    }
    
    .cta .right {
        background-color: #FFFFFF;
        border-radius: 8px 8px 80px 8px;
        padding: 40px;
        width: 60%;
    }
    
    .cta .right h3 {
        font-size: 50px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: 1px;
        text-align: center;
        color: #181D24;
    }
    
    .cta form {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-top: 50px;
    }
    
    .from {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5em;
    }
    
    .cta form .diff {
        border: none;
        color: #5B656F;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        width: 50%;
        border-bottom: 1px solid #181D24;
        padding-left: 0;
        padding-bottom: 10px;
    }
    
    form label {
        display: flex;
    }
    
    textarea {
        border: none;
        color: #181D24;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid #181D24;
        padding: 0 0 10px 0;
        height: 100px;
    }

    textarea:focus {
        outline: none;
    }
    
    .cta form textarea::placeholder {
        color: black;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
    }
    
    .tem {
        display: flex;
        justify-content: flex-start;
        gap: 0.5em;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
    }
    
    .terms {
        border: none;
        color: #5B656F;
        font-weight: 500;
        border-bottom: 1px solid #181D24;
        padding-left: 0;
        padding-bottom: 0;
        font-family: Raleway;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
    }
    
    .cta form button {
        text-transform: uppercase;
        display: flex;
        justify-self: center;
        align-items: center;
        background-color: #5B656F;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
        border-radius: 0 10px 10px 10px;
        padding: 12px 40px;
        width: 137px;
        height: 48px;
        border: none;
        text-align: center;
        margin-top: 20px;
    }
    
}