* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: ;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.hero .head {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.hero .head h1 {
    font-size: 30px;
    font-weight: 400;
    color: aqua;
    list-style: 87px;
    text-align: left;
}