* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #F5F3F1;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.hero .head {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.hero .head h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    color: #181D24;
}

.hero .head p {
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: #181D24;
    width: 60%;
}

.connect {
    width: 100%;
    display: flex;
    height: 553px;
}

.connect .left {
    background-image: url("../images/connect.png");
    width: 55%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    border-radius: 0 0 0 120px;
    object-fit: cover;
    background-position: center;
}

.connect .right {
    width: 45%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 0 120px 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 80px;
    gap: 1em;
}

.connect .right h3 {
    font-family: Rufina;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 1px;
    text-align: center;
    color: #181D24;
    padding-bottom: 20px;
}

.connect .fon {
    display: flex;
    gap: 2em;
}

.connect .mail {
    display: flex;
    gap: 2.3em;
}

.connect .add {
    display: flex;
    gap: 1em;
}

.connect .add .ad {
    width: 300px;
    line-height: 25px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: left;
    color: #181D24;
}

.connect .add .ad span {
    margin-top: 100px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: left;
    color: #5B656F;
}

.connect .socials {
    display: flex;
    gap: 1em;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 50px;
}

.connect p {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: left;
}

.connect .socials img {
    border: 0px solid #181D24;
    color: #181D24;
    background-color: #181D24;
    border-radius: 50%;
}

.faq-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-cont .faq {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 4em;
    margin-top: 100px;
}

.faq .top {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.faq .top h3 {
    font-family: Rufina;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 1px;
    text-align: center;
}

.faq .top p {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}

.faq .down {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.faq .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.faq .left .fq {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-top: 1px solid #DFE3E7;
    padding-top: 20px;
    gap: .5em;
}

.faq .left .fq  p {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #181D24;
    text-align: left;
}

.faq .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.faq .right .fq {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5em;
    border-top: 1px solid #DFE3E7;
    padding-top: 20px;
}

.faq .right .fq  p {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #181D24;
    text-align: left;
}

.footer-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFE3E7;
    margin-top: 200px;
    position: relative;
    margin-top: 200px;
}

.cta {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: flex-start;
    background-color: #FFFFFF;
    border-radius: 8px 8px 80px 8px;
    height: 506px;
    justify-content: center;
    padding: 80px;
    position: absolute;
    top: -50px;
    z-index: 3;
}

.cta h3 {
    font-family: Rufina;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 1px;
    text-align: center;
}

.cta form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.cta form .con-from {
    display: flex;
    gap: 1em;
    width: 100%;
}

.con-from .name {
    width: 50%;
}

.con-from .mail {
    width: 50%;
}

.con-from input {
    border: none;
    border-bottom: 1px solid #181D24;
    width: 100%;
    padding-bottom: 15px;
    outline: none;
}

.cta-from input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #181D24;
}

.con-from input::placeholder {
    padding-bottom: 30px;
}

form textarea {
    border: none;
    height: 94px;
    border-bottom: 1px solid #181D24;
    outline: none;
}

form textarea:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #181D24;
}

form textarea::placeholder {
    padding-bottom: 30px;
}

form .btn {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

form button {
    padding: 12px 20px;
    background-color: #5B656F;
    border-radius: 0 10px 10px 10px;
    height: 48px;
    width: 137px;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 300px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

footer .head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

footer .head .left .logo p {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
    color: #181D24;
}

footer .head .left P {
    color: #5B656F;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    width: 600px;
}

footer .head .right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5em;
}

footer .head .right h6 {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

footer .head .right .body {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

footer .head .right .body p {
    color: #181D24;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

footer .head .right .socials {
    display: flex;
    gap: .5em;
    justify-content: flex-start;
    align-items: center;
}

footer .head .right .socials img {
    color: #181D24;
    background-color: #181D24;
}

footer .head .right .socials .not {
    color: white;
    background-color: white;
}

footer .down {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

footer .down .left {
    display: flex;
    gap: 1em;
}


footer .down .left p {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

footer .down .right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer .down .right p {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}


@media  (max-width: 420px){
    header {
        flex-direction: column;
        background-color: #F5F3F1;
    }

    .hero {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero .head {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hero .head h1 {
        color: #181D24;
        font-family: Rufina;
        font-size: 44px;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: 1px;
        text-align: center;
    }

    .hero .head p {
        font-family: Raleway;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        width: 100%;
    }

    .connect {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 1000px;
    }

    .connect .left {
        width: 100%;
        height: 55%;
        border-radius: 60px 4px 4px 4px;
        object-fit: cover;
        background-position: center;
    }

    .connect .right {
        width: 100%;
        height: 45%;
        border-radius: 4px 4px 60px 4px;
        background-color: #FFFFFF;
        padding: 40px;
    }

    .connect .right h3 {
        font-family: Rufina;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 1px;
        text-align: center;
    }

    .connect .fon {
        display: flex;
        gap: 1em;
    }
    
    .connect .mail {
        display: flex;
        gap: 1.15em;
    }
    
    .connect .add {
        display: flex;
        gap: .5em;
    }

    .connect .add .ad {
        width: 250px;
        line-height: 25px;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 1px;
        text-align: left;
        color: #181D24;
    }

    .connect p {
        font-family: Raleway;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
    }

    .faq-cont .faq  {
        width: 90%;
        flex-direction: column;
        gap: 3em;
    }

    .faq .top {
        display: flex;
        flex-direction: column;
        gap: .7em;
    }

    .faq .top h3 {
        font-family: Rufina;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 1px;
        text-align: center;
    }

    .faq .top p {
        font-family: Raleway;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
    }

    .faq .down  {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }

    .faq .left  {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .faq .left .fq  p {
        font-family: Raleway;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
    }

    .faq .right  {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .faq .right .fq  p {
        font-family: Raleway;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
    }

    .footer-cont {
        width: 100%;
    }

    .cta {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 3em;
        align-items: flex-start;
        justify-content: center;
        padding: 40px;
    }

    .cta h3 {
        font-family: Rufina;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 1px;
        text-align: center;
    }

   .cta form {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
    }

    .con-from {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

     .con-from input  {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
    }

    .con-from .name {
        width: 100%;
    }
    
    .con-from .mail {
        width: 100%;
    }

    .con-from input::placeholder {
        font-family: Raleway;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
    }

    form .btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form button {
        padding: 12px 20px;
        background-color: #5B656F;
        border-radius: 0 10px 10px 10px;
        height: 48px;
        width: 295px;
        text-transform: uppercase;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
        color: #FFFFFF;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2em;
    }

    footer .head .left .logo p {
        font-family: Raleway;
        font-size: 16.85px;
        font-weight: 500;
        line-height: 18.38px;
        letter-spacing: 4.594795227050781px;
        text-align: left;
    }

    footer .head .left p {
        font-family: Raleway;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        width: 100%;
    }

    footer .head .right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1em;
    }

    footer .head .right h6 {
        font-family: Raleway;
        font-size: 17px;
        font-weight: 700;
        line-height: 22.5px;
        text-align: left;
    }

    footer .head .right .body {
        display: flex;
        flex-direction: column;
        gap: .5em;
    }

    footer .head .right .body p {
        font-family: Raleway;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }

    footer .head .right .socials {
        display: flex;
        gap: .7em;
        justify-content: flex-start;
        align-items: flex-end;
    }

    footer .down {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5em;
    }

    footer .down .left  {
        display: flex;
        gap: .5em;
    }

    footer .down .left p {
        font-family: Raleway;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }

    footer .down .right {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    footer .down .right p  {
        font-family: Raleway;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        margin-bottom: 20px;
    }
}